[submodule "letmelearn"]
	path = letmelearn
	url = https://github.com/christophevg/letmelearn.git
[submodule "baseweb-demo"]
	path = baseweb-demo
	url = https://github.com/christophevg/baseweb-demo.git
[submodule "howifeel"]
	path = howifeel
	url = https://github.com/christophevg/howifeel.git
[submodule "oatk"]
	path = oatk
	url = https://github.com/christophevg/oatk
[submodule "homemadebycvg.com"]
	path = homemadebycvg.com
	url = https://github.com/christophevg/homemadebycvg.com.git
[submodule "getijden"]
	path = getijden
	url = https://github.com/christophevg/getijden
[submodule "nationofpositivity"]
	path = nationofpositivity
	url = git@github.com:christophevg/nationofpositivity.git
