# for running

hosted-flasks
eventlet
gunicorn

# app specifics

-r baseweb-demo/requirements.txt
-r homemadebycvg.com/requirements.base.txt
-r howifeel/requirements.base.txt
-r letmelearn/requirements.txt
-r nationofpositivity/requirements.base.txt
-r architectaday/requirements.base.txt
-r schema-tools/requirements.base.txt
