# to avoid patching issues (for now)
eventlet==0.36.1

# for running
hosted-flasks
gunicorn

# for most of my apps
baseweb
oatk

# specific for letmelearn
pymongo
Flask-Login

# specific for howifeel
bcrypt

# specifics for nationofpositivity
pageable_mongo
requests
sendgrid
qrcode
pillow
